{% extends "base.html" %}

{% block content %}
<title>Account</title>
{% if firstName %}
    <h1>Hello {{ firstName }} {{ lastName}}</h1>
{% else %}
    <h1>What's your name?</h1>
    <br/>
    <form action="" method="POST">
		{{ form.hidden_tag() }}

        {{ form.firstName.label() }}
        {{ form.firstName() }}
        <br>
        {{ form.lastName.label() }}
        {{ form.lastName() }}
        <br>
        <br>
        {{ form.email.label() }}
        {{ form.email() }}
        <br>
        {{ form.validateEmail.label() }}
        {{ form.validateEmail() }}
		{% for error in form.validateEmail.errors %}
            {{ error }}
        {% endfor %}
        <br>
        {{ form.password.label() }}
        {{ form.password() }}
        <br>
            {{ form.submit() }}
    </form>

 {% endif %}

{% endblock %}